<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>
  
    <div *ngIf="pwe()">
      <p *ngIf="!pwe().hasUpperCase">
        Must have at least one uppercase letter.
    </p>
    <p *ngIf="!pwe().hasLowerCase">
      Must have at least one lowercase letter.
    </p>
    <p *ngIf="!pwe().hasNumber">
      Must have at least one number.
    </p>
    <p *ngIf="!pwe().hasValidLength">
      Must be at least 8 characters long.
    </p>
  </div>

  <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
</form>
